.flex1-child1{
    background-color:#1A2D26;
    width:55%;
    height:600px;
    padding: 0;
}
.card-content{
    padding-left: 157px;
    padding-top: 2rem;
}
.retro h3{
  color:#F5EBB5;
  font-size: 20px;
margin-bottom: 10px;
}
.retro h1{
    width: 200px;
    margin:0;
    font-size: 50px;
    letter-spacing: 2px;
    color: #F5EBB5;
    display: table-caption;
}
.action{
    color: #EA662F;
}
.total-flex{
    display: flex;
}
.text-flex{
padding-top: 10rem;
 padding-left:0rem;   
 color: #7B8382 ;
 font-size: 20px;
 line-height: 28px;
 width: 300px;
 height: 10px;
}
